.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
    -webkit-transition: color 100ms ease-out;
    -moz-transition: color 100ms ease-out;
    -ms-transition: color 100ms ease-out;
    -o-transition: color 100ms ease-out;
}

.sidebarOption>.MuiSvgIcon-root {
    padding: 20px;
}

.sidebarOption>h2 {
    font-weight: 600;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption--active {
    color: var(--twitter-color);
}